/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall:first-child #tag-2 {
  display: none;
}

#wall div#tag-3 .wicked .slick {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

 ) #tag-5.slick {
  display: none;
}

div#wall {
  display:none;
}